.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 1.4rem;
  margin-top: -95px;
  height: 95px;
  box-sizing: border-box;
  background-color: #fff;
}

.rights {
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 425px) {
  .rights {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
  }
}
