@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

.Headline {
  width: 100%;
  height: 160px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/coins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.HeadWrapper {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
}

.Head {
  font-family: "Work Sans", sans-serif;
  font-size: 3.2rem;
  color: #eee;
  font-weight: 500;
}
