@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
.wrapper {
  animation: sliding-background 40s linear infinite;
  background: url("../../assets/images/coins.jpg") no-repeat left / 120%;
  height: 180px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.title {
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12rem;
  letter-spacing: 25px;
  line-height: 185px;
  margin: 0;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black,
    4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black,
    9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black,
    13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black,
    17px 17px black, 18px 18px black;
}
.title:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}
@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}

@media (max-width: 1080px) {
  .title {
    font-size: 10rem;
  }
}
@media (max-width: 940px) {
  .title {
    font-size: 8rem;
  }
}
@media (max-width: 780px) {
  .wrapper {
    height: 130px;
  }
  .title {
    font-size: 5rem;
    line-height: 135px;
  }
}
@media (max-width: 520px) {
  .wrapper {
    height: 110px;
    width: 95%;
    margin: 0 auto;
  }
  .title {
    font-size: 4rem;
    width: 100%;
    line-height: 115px;
    text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black,
      4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black,
      9px 9px black, 10px 10px black;
  }
}
@media (max-width: 460px) {
  .title {
    font-size: 3rem;
    text-shadow: 0 0 0px, 1px 1px black;
  }
}
@media (max-width: 375px) {
  .wrapper {
    height: 70px;
  }
  .title {
    font-size: 2.2rem;
    line-height: 75px;
    text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black;
  }
}
