.currenciesList {
  padding: 50px 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.listTitles {
  display: grid;
  grid-template-columns: 45% 30% 25%;
  margin: 0 auto 20px auto;
}

.currency {
  display: flex;
  justify-content: flex-start !important;
}

@media (max-width: 425px) {
  .currenciesList {
    padding: 50px 0 20px 0;
  }
}
