@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#root {
  min-height: 100%;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 2px;
  color: #4b5662;
  margin: 0 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
